* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}
header {
    background-image: url('images/bg-pattern-intro.svg');
    background-attachment: fixed;
    background-position-x: 15%;
    background-position-y: 57%;
    background-size: 185%;
    background-repeat: no-repeat;
    background-color: #ff525c;
    border-bottom-left-radius: 15%;
}
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.container {
    display: flex;
    align-items: center;
    padding-left: 120px;
}
.logo {
    margin-right: 30px;
}
.dropdown {
    margin-right: 10px;
}
.mainmenubtn {
    color: #fff;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #fff;
    min-width: 150px;
    position: absolute;
}
.dropdown-child li {
    color: #000;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.area-login {
    display: flex;
    align-items: center;
    padding-right: 150px;
}
.login a{
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
}
.sign-up {
    padding: 20px 30px;
    border-radius: 27px;
    background-color: #fff;
}
.sign-up a {
    color: #ff525c;
    font-weight: bold;
    text-decoration: none;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-container h1 {
    padding-top: 100px;
    font-size: 52px;
    color: #fff;
    line-height: 100px;
}
.header-container span {
    font-size: 17px;
    color: #fff;
}

.buttons-container button {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 50px 5px;
    margin-bottom: 170px;
}
.light-buttom {
    background-color: #fff;
    color: #ff525c;
    border: none;
}
.orange-buttom {
    background-color: rgba(255, 82, 92, 0.4);
    color: #fff;
    border-color: #fff;
}





.section-first {
    height: 1000px;
    background-image: url('images/illustration-editor-desktop.svg');
    background-repeat: no-repeat;
    background-position: 165%;
    display: flex;
    flex-direction: column;
}
.section-first img {
    display: none;
}
.section-first--title {
    display: flex;
    justify-content:  center;
    font-size: 25px;
    color: #204059;
    margin-top: 120px;
    margin-bottom: 100px;
}
.section-first--text {
    width: 40%;
    margin-left: 100px;
    line-height: 30px;
}
.section-first--text h2 {
    margin-bottom: 20px;
    color: #204059;
}
.section-first--text h2:last-of-type {
    margin-top: 50px;
}




.section-second {
    background-image: url('images/bg-pattern-circles.svg');
    background-position-y: 93%;
    background-position-x:  -70%;
    background-repeat: no-repeat;
    background-color: #3b3e5d;
    display: flex;
    position: relative;
    border-top-right-radius: 110px;
    border-bottom-left-radius: 110px;
}

.section-second img{
    margin-top: -55px;
    position: absolute;
    padding-left: 50px;
}

.section-second-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50%;
    padding-right: 90px;
    padding-left: 35px;
    line-height: 30px;
    margin-top: -40px;
    color: #fff;
    padding-top: 160px;
    padding-bottom: 100px;
    font-size: 17px;
}
.section-second-desc h1 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: lighter;
}





.section-third {
    padding: 80px;
    background-image: url('images/illustration-laptop-desktop.svg');
    background-position-x: -75%;
    background-position-y: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-third img {
    display: none;
}
.section-third-desc {
    padding-left: 50%;
    padding-top: 280px;
    padding-bottom: 200px;
    padding-right: 70px;
}
.section-third-desc h2 {
    margin-bottom: 30px;
    color: #204059;
}
.section-third-desc p {
    line-height: 30px;
}
.section-third-desc p:first-of-type {
    margin-bottom: 70px;
}





.footer {
    display: flex;
    background-color: #24242c;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 140px;
    border-top-right-radius: 120px;
}
.footer-first,
.footer-second,
.footer-third {
    display: flex;
    flex-direction: column;
    color: #fff;
    line-height: 35px;
    padding-left: 160px;
}
.footer h3 {
    margin-bottom: 30px;
}


@media only screen and (max-width: 1024px) {
    .section-first {
        background-image: none;
        margin-bottom: 700px;
    }
    .section-first img {
        display: block;
        width: 50%;
        margin: auto;
    }
    .section-first--text {
        margin: auto;
        margin-top: 40px;
        text-align: center;
    }
    .section-first--text h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .section-second {
        background-position-y: 250%;
    }
    .section-second-desc {
        margin: auto;
        padding-top: 480px;
        text-align: center;
        padding-left: 140px;
        padding-right: 140px;
    }
    .section-second-desc h1 {
        font-size: 50px;
        margin-bottom: 100px;
    }
    .section-second img{
        padding-left: 25%;
        margin-top: -275px;
    }


    .section-third {
        background-image: none;
    }
    .section-third img {
        display: block;
        width: 100%;
        margin: auto;
    }
    .section-third-desc {
        display: flex;
        margin-top: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .section-third-desc h2 {
        font-size: 30px;
    }


    .footer {
        display: flex;
        flex-direction: column;
        padding-left: 0;
       
    }
    .footer-img {
        margin: auto;
        margin-bottom: 40px;
    }
    .footer-first,
    .footer-second,
    .footer-third {
        margin: auto;
        padding: 0;
        text-align: center;
    }
    footer h3 {
        margin-top: 30px;
        font-size: 22px;
    }
}